/*基本样式属性*/
.width80{
    width: 80px;
}
.width60{
    width:60px;
}
.width110 {
    width: 110px;
}
.width120 {
    width: 120px;
}

.width150{
    width:150px;
}
.width175{
    width: 175px;
}

.width185{
    width: 185px;
}
.width200 {
    width: 200px;
}
.width250 {
    width: 250px;
}
.width280{
    width: 280px;
}
.width300{
    width: 300px;
}
.width350{
    width: 350px;
}
.width450{
    width: 450px;
}
.width400{
    width: 400px;
}
.height150{
    height:150px;
}
.height120{
    height:120px;
}
.height60{
    height:60px;
}
.height30{
    height:30px;
}
.inline-block {
    display: inline-block;
}

.clear-both {
    clear: both;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
.center{
    margin:0 auto;
}

.all-center{
    margin:auto auto !important;
}

.text-span{
    height:30px;
    line-height:30px;
}
.margin-left-5px{
    margin-left: 5px;
}
.margin-left-10px{
    margin-left:10px;
}
.margin-left-20px{
    margin-left: 20px;
}

.margin-left-30px{
    margin-left: 30px;
}
.margin-top-10px{
    margin-top: 10px;
}

.margin-right-10px{
    margin-right: 10px;
}
.margin-right-15px{
    margin-right: 15px;
}
.displayNone{
    display: none;
}

.cursor-pointer{
    cursor:pointer;
}

.doller{
    width: 30px;
    height:30px;
}

.span-height30-center{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}

.white-space-nowrap {
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

.bg-white{
    background-color: white;
}
/*语言条style*/
.language {
    font-size: 12px;
    list-style: none;
    position: absolute;
    top: 10px;
    right: 5px;
    color: #fff;
}
.language li{
   float:left;
}
.language a{
  color:#fff;
}
.language a:hover{
    color: #ffb911;
}

.payssion{
    height: 40px;!important;
    width: 85px;!important;
    margin-left: 15px;!important;
    margin-bottom: 10px!important;
}

.payssionInput{
    height: 15px;!important;
    width: 15px;!important;
}

.pagination>li{
    cursor:pointer;
}