.photo{
    background: url('/common/images/album_bg.gif') no-repeat;
    width:149px;
    height:149px;
    cursor: pointer;
}
.photo .img{
    margin-top: 5px;
    margin-left: 10px;
    width: 135px;
    height: 135px;
}

#photoInfoDiv span{
    margin-left: 10px;
    margin-top: 5px;
}
 #photoInfoDiv span a{
     color: #f0786b;
 }