<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddas.sns.userfriendblog.mapper.UserFriendBlogMapper">
  <resultMap id="UserFriendBlogMap" type="com.ddas.sns.userfriendblog.dto.UserFriendBlogDto">
    <result column="uf_user_id" property="userId" jdbcType="VARCHAR" />
    <result column="friend_id" jdbcType="VARCHAR" property="friendId" />
    <result column="friend_name" jdbcType="VARCHAR" property="friendName" />
    <result column="ub_group_id" property="groupId" jdbcType="VARCHAR" />
    <result column="blog_title" property="blogTitle" jdbcType="VARCHAR" />
    <result column="blog_content" property="blogContent" jdbcType="VARCHAR" />
    <result column="blog_privilege" property="blogPrivilege" jdbcType="VARCHAR" />
    <result column="blog_tags" property="blogTags" jdbcType="VARCHAR" />
    <result column="ub_created_time" property="createdTime" jdbcType="VARCHAR" />
    <result column="ub_updated_time" property="updatedTime" jdbcType="VARCHAR" />
    <result column="ub_id" property="ubId" jdbcType="VARCHAR"></result>
  </resultMap>

  <sql id="Base_Column_List">
      uf.user_id AS uf_user_id,friend_id,friend_name,ub.ub_id,ub.group_id AS ub_group_id,blog_title,blog_content,blog_tags,ub.created_time AS ub_created_time,ub.updated_time AS ub_updated_time
  </sql>

  <select id="queryByPage" parameterType="com.ddas.common.page.Page" resultMap="UserFriendBlogMap">
      SELECT
        <include refid="Base_Column_List" />
      FROM user_friend uf
      INNER JOIN user_blog ub
      ON uf.friend_id = ub.user_id
      AND uf.user_id = #{condition.userId}
      AND uf.status = '1'
      ORDER BY ub.created_time
      DESC LIMIT ${condition.start},${condition.end};
  </select>
  <select id="getCount" parameterType="com.ddas.common.page.Page" resultType="java.lang.Integer">
    SELECT count(*) FROM user_friend uf INNER JOIN user_blog ub ON uf.friend_id = ub.user_id AND uf.user_id = #{condition.userId} AND uf.status = '1';
  </select>
</mapper>